
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
  --primary : #FF6060;
  --primaryHover: #ff4e4e;
  --secondary : #FFFFFF;
  --background : #FFFFFF;
  --footerBackground : #000000;
  --cardContainerBackground : #F6F6F6;
  --cardBackground: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--background);
  width: 100%;
  overflow: overlay;
  font-weight: 400;
  font-size: 16px;
}



h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

.App {
  min-height: 100vh;
  position: relative;
  padding: 10rem 10rem 25rem 10rem;
}

